header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background-color: #e07e3d; 
    border-bottom: 3px solid #4a3432;
}

header h1{
    display: none;
}

body{
    background-color: #fcfcf0; 
    color: #4a3432; 
    font-family: 'Roboto', sans-serif;
}

.nav_links{
    text-align: center;
    margin: 15px;
}

.nav_item a{
    text-decoration: none;
    color: #ebe5d5;
    text-align: center;
    margin: auto;
    height: 0;
}

.articlevertpics{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.articlevertpics img{
    margin: 0px 5px;
    width: 40%;
    height: auto;
    display: block;
}

.articlepics img{
    display: block;
    width: 60%;
    height: auto;
    margin: 0px auto;
}

h1{
    font-size: 35px;
    text-align: center;
    margin: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #8f6c49;
}

h2{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

main p{
    display: flex;
    width: 300px;
    margin: 20px auto;
    background-color: #ebe5d5;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
    border: 2px solid #4a3432;
}

button{
    display: block;
    background-color: #4a3432; /* 5c90b5 */
    font-size: 25px;
    margin: 5px auto;
    border-radius: 10px;
    color: #ebe5d5;
    font-family: 'Roboto', sans-serif;
}

#current{ 
    font-weight: bold;
    font-size: 28px;
}

footer{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: #000000;
    color: #ebe5d5;
    margin-top: 20px;
    font-weight: 700;
}

.gallery{
    display: grid;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
}

.gallery .vertical1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery .vertical2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery .horizontal1, .gallery .horizontal2{
    grid-column-start: 1;
    grid-column-end: 3;
}

.skip a{
    display: none;
}

.articlepics p{
    display: none;
}

.articlevertpics p{
    display: none;
}

@media screen and (min-width: 760px) {
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery .vertical1{
        grid-column-start: 3;
        grid-column-end: 4;
        height: 100%;
        overflow: hidden;
    }
    
    .gallery .vertical2{
        grid-column-start: 1;
        grid-column-end: 2;
        height: 100%;
        overflow: hidden;
    }

    .gallery .horizontal1{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery .horizontal2{
        grid-column-start: 2;
        grid-column-end: 4;
    }

    main p{
        width: 600px;
    }

    h1{ 
        font-size: 40px;
    }

    header h1{
        display: none;
    }

    .articlepics p{
        display: none;
    }

    .articlevertpics p{
        display: none;
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: absolute;
        top: -40px;
        border: 3px solid #000000;
        border-radius: 10px; 
        font-weight: bold;
        color: #0000ff;
    }

    .skip a:focus{
    position: absolute;
    top: 0px;
    }
}


@media screen and (min-width: 1150px) {
    header{
        flex-direction: row;
        width: 100%;
        position: sticky;
        top: 0px;
        z-index: 4;
    }

    header h1{
        display: block;
        margin: 20px 30px;
    }

    nav{
        margin-left: auto;
    }

    .nav_links{
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 30px;
    }

    .nav_item{
        margin-left: 5px;
    }

    button{
        font-size: 20px;
        transition: font-size 0.2s ease-in 0.1s;
    }

    #current{
        font-size: 24px;
    }

    button:hover, button:focus{
        font-size: 115%;
    }

    #current:hover, #current:focus{
        font-size: calc(24px*1.15);
    }

    .articlevertpics{
        margin-right: auto;
    }

    .articlepics img{
        display: none;
        text-align: center;
    }

    .articlepics{
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
        border-top: 3px solid #4a3432;
        border-bottom: 3px solid #4a3432;
    }

    .aboutme .articlepics{
        background-image: url("../images/chloe.JPG");
    }

    .history #ancient{
        background-image: url("../images/ancientegyptcat.jpg");
    }

    .history #egyptstatue{
        background-image: url("../images/egyptcatstatues.jpg");
    }

    .history #daguerreotype{
        background-image: url("../images/CatDaguerreotype.png");
    }

    .articlevertpics{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .articlevertpics img{
        width: 30%;
    }

    .articlevertpics p{
        display: block;
        width: 30%;
    }

    main p{
        width: 350px;
        font-size: 20px;
        display: none;
    }    

    .history p{
        display: block;
        width: 550px;
    }

    .articlepics p{
        display: block;
        width: 35%;
        height: fit-content;
    }

    .philosophy .articlepics img{
        display: block;
        width: 55%;
    }

    .philosophy .articlepics{
        border: none;
        display: flex;
        min-height: 0px;
        align-items: center;
    }
    
    main h1{
        display: none;
    }

    .container-lg{
        width: 80%;
    }

    .carousel-inner img{
        height: 500px;
        margin: auto;
    }

    .carousel-inner{
        position: static;
        width: 100%;
        overflow: hidden;
        background-color: #e07e3d;
        border-radius: 50px;
        border: 3px solid #4a3432;
    }

    .carousel-inner  {
        position: relative;
        /* display: none; */
        -webkit-transition: 10s ease-in-out left;
        -moz-transition: 10s ease-in-out left;
        -o-transition: 10s ease-in-out left;
        transition: 10s ease-in-out left;
    }

    .carousel-control-prev-icon{
        background-image: url("../images/catpawleft.png");
        padding: 30px;
    }

    .carousel-control-next-icon{
        background-image: url("../images/catpawright.png");
        padding: 30px;
    }

    .carousel-indicators {
        background-color: #000000;
        opacity: 70%;
        width: 40%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 50px;
    }
    
    .carousel-control-next-icon p, .carousel-control-prev-icon p{
        position:relative;
        margin-top: 35px;
        right: 17px;
        color: #000000;
        text-decoration-color: #000000;
    }

    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: absolute;
        top: -40px;
        border: 3px solid #000000;
        border-radius: 10px; 
        font-weight: bold;
        color: #0000ff;
    }

    .skip a:focus{
    position: absolute;
    top: 0px;
    }
}